*{
    left: 0;
    right: 0;
    padding: 0;
    border: 0;
}
body{
    background: #fff;
}

.navbar{
	width: 100%;
	background:#fff;
    z-index: 1;
    position: fixed;
}
.ul-navbar{
	width: 90%;
	margin: 0 auto;
	/* padding-left: 200px; */
	margin-left: 500px;
	padding: 0;
}
/* .ul-navbar{
    padding-left: 420px;
} */
.ul-navbar > li {
	list-style: none;
	display: inline-block;
	padding: 18px;
}

.ul-navbar > li a{
	color: rgb(58, 15, 138);
	text-decoration: none;
	list-style-type: none;
}
.ul-navbar > li a:hover{
	text-decoration: none;
}
.toggle{
	width: 100%;
	padding: 5px 10px;
	background: #fff;
	text-align: right;
	box-sizing: border-box;
	color: rgb(69, 11, 102);
	font-size: 30px;
	display: none;
}

.logo-brand{
    position: absolute;
    width: 200px;
    top: 15px;
    left: 54px;
}

.booking-now{
    position:absolute;
    bottom: 50%;
}

/*card*/
.row-card{ 
	padding-bottom: 20px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	text-align: center;
  }

.card-booking{
	position: relative;
	bottom: 95px;
	padding-top: 5px;
	padding-left: 15px;
	padding-bottom: 0;
	padding-right: 15px;
    /* right: 20px; */
    /* background-color: black;
    color: white; */
    /* padding-left: 20px;
    padding-right: 20px; */
}
/*end of card*/

.tabs-booking{
	color: rgb(69, 11, 102);
	list-style: none;
	padding-right: 75%;
}

/*Promo menu utama*/
.promo{
	width: 100%;
	background-color: #fff;
	padding-bottom: 20px;
}

.promo-title{
	padding-left: 5px;
	padding-bottom: 5px;
}
.title-promo{
	color: rgb(58, 15, 138);
}

.promo-text{
	color: #FF0000;
}
.promo-content{
	padding-top: 20px;
}
/*End of promo*/

.booking-us{
	width: 100%;
	background-color: rgb(253, 253, 247);
	height: 340px;
	margin-bottom: 20px;
}

.tittle-fasilitas{
	padding-top: 15px;
	color: rgb(58, 15, 138);
	font-size: 28px;
	text-align: center;
	padding-left: 5px;
	padding-bottom: 5px;
}

.easy-booking{
	padding-top: 50px;
	margin-bottom: 60px;
	color: rgb(58, 15, 138);
	padding-left: 45px;
	padding-right: 5px;
	/* padding-bottom: 10px; */
}

.logobook2{
	text-align: center;
}
.logobook3{
	text-align: center;
	margin-bottom: 30px;
}
.logobook{
	font-size: 80px;
	padding-left: 97px;
	padding-bottom: 20px;
}

.subscribe{
	width: 100%;
	height: 300px;
	background-color: #1dc0cf;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	color: azure;
}
.logo-subsribe{
	width: 250px;
	height: 250px;
	margin-left: 100px;
}
/* .display-4{
	margin-bottom: 20px;
} */

/*detail paket*/
.jumbotron{
	margin-bottom: 0px !important;
}

.tujuan-tour{
	height: 100%;
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #22A7F0;
	color: #fff;
	/*text-align: center;*/
}

.fasilitas-tour{
	height: 100%;
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #F5D76E;
}

.itinerary{
	height: 100%;
	width:100%;
	padding-top: 30px;
	padding-bottom: 30px;
}
.btn-book{
	margin-top: 20px;
	color: #fff;
}

/*carousel card*/
@media (min-width: 768px) {
    .carousel-multi-item-2 .col-md-4 {
        float: left;
    } 
}

.carousel-multi-item-2 .card img {
    border-radius: 2px; 
}

.controls-top{
	text-align: center;
	padding-bottom: 10px;
}
/*end of carousel card*/


/* modal css */
.card-container{
	background-color: #fff;
	margin: 5px;
	width: calc(100% - 16px);
	/*border-bottom: 1px solid #ccc;*/
}
.amount-title{
	padding : 14px 16px;
}
.pull-left{
	float: left;
}
.amount-content{
	margin-right: 16px;
	line-height: 60px;
}
.pull-right{
	float: right;
}
.amount{
	background-color: #fff;
	border-bottom: 1px solid #102C42;
	height: 60px; 
}
.text-amount-title{
	font-weight: 400px;
	font-size: 1.3rem;
	color: #102C42;
	margin: 0;
	line-height: 1;
	padding-bottom: 4px;
}
.text-amount-rp{
	margin-right: 4px;
	vertical-align: 2px;
}
.text-amount-amount{
	font-weight: 400px;
	font-size: 20px;
	color: #102C42;
	margin: 0;
	line-height: 1; 
}

.list{
	background-color: #FFFFFF;
    height: 72px;
    display: block;
    text-decoration: none;
    box-sizing: content-box;
    border-bottom: 1px solid #F2F2F2;
    position: relative;
}

.list-payment-logo {
    padding: 16px;
    float: left;
    border-bottom: 1px solid #FFFFFF;
}

.list-content{
	vertical-align: middle;
    width: calc(100% - 116px);
    height: 72px;
    float: left;
}

.list-title{
	padding-top: 18px;
}

.text-actionable-bold{
	font-weight: 700;
    font-size: 1rem;
    color: #666666;
    margin: 0;
    line-height: 1;
}
.list-caption {
    padding-top: 4px;
}
.text-actionable-caption {
    font-weight: 400;
    font-size: 0.8rem;
    color: #666666;
    margin: 0;
    line-height: 1;
}

.list-next{
	padding: 16px;
	float: right;
}

.text-no-rek{
	font-weight: 400px;
	font-size: 1.3rem;
	color: #666666;
	margin: 0;
	line-height: 1;
	padding-bottom: 4px;
}

.content-text-block{
	padding-top: 16px;
	background-color: #fff;
	display: table;
	opacity: 1;
	width: 100%;
	transition: opacity 2s;	
	margin-bottom: 30px;
}

/* Google API masing2 sub paket */
#map_wrapper {
	height: 400px;
	margin-top:30px;
	margin-bottom:50px;
}

#nusapenida-hd {
    width: 100%;
    height: 100%;
}
#nusapenida-2d1n {
    width: 100%;
    height: 100%;
}
#nusapenida-3d2n {
    width: 100%;
    height: 100%;
}
#lembongan-hd {
    width: 100%;
    height: 100%;
}
#lembongan-2d1n {
    width: 100%;
    height: 100%;
}
#lembongan-3d2n {
    width: 100%;
    height: 100%;
}
 /*resnponsive*/   
 @media(max-width: 600px ){
	.toggle{
		display: block;
	}

	ul{
		width: 100%;
		display: none;
		/* margin-right: 500px; */
	}
	ul li{
		margin-right: 500px;
		display: block;
		text-align: center;
	}
    .active{
		/* padding: 0; */
		text-align: center;
		display: block;
    }
    .logo-brand{
		display: block;
	}
	.py-4{
		display: block;
	}
	.sampul{
		display: block;
	}
	.footer-basic-centered{
		display: block;
	}
	.logo-subsribe{
		display: none;
	}
}